<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <br>
    <div class="posts-wrapper row">
      <div class="post">
        <div class="post-head">
          <div class="name">Ben Walker</div>
        </div>
        <div class="image center-block">
          <%= image_tag @post.image.url(:medium) %>
        </div>
        <p class="caption"><%= @post.caption %></p>
        <div class="text-center">
          <%= link_to "Cancel", posts_path %>
          |
          <%= link_to "Edit Post", edit_post_path(@post) %>
        </div>
      </div>
    </div>
  </body>
</html>
